{{#ui-modal}}
  <div class="ui button">Create User</div>
  <div class="ui basic modal">
    <i class="close icon"></i>
    <div class="ui header">
      Create user
    </div>
    <div class="ui content">
      <label>Name: </label>
      {{input type="text" value=userName placeholder="Enter user name" class="ui input"}}
    </div>
    <div class="ui green basic button" {{action 'createUser'}}>Create !</div>
  </div>
{{/ui-modal}}

{{yield}}
